$icon-font-path: '../fonts/';

$primary-color: #8bacbd;
$header-color: #FFF;

$second-color:#eaeaea;
$third-color: rgba(219, 218, 214, 0.1);
$accent-color:#fa9581;
$text-color:#4C495A;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
/* Space out content a bit */
body,html {
  padding-top: 0px;
  padding-bottom: 0px;
  height:100%;
  width:100%;
  background:#FFF;
  color:$text-color;
  font-family: 'Varela', sans-serif;
}

.row-break {
  margin-bottom: 50px;
}

.navbar {
  margin-bottom:0px;
  //background:#779ECB;
  background:$primary-color;
  border:none;
  border-radius:0;
  height:10px;
  color:#FFF;
  text-transform: uppercase;
  -webkit-animation: fadeIn .25s linear;
  animation: fadeIn .25s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  .navbar-brand, li, a {
    color:$header-color !important;
  }
}

/* Custom page footer */
.footer {
  margin-top:70px;
  padding-top: 19px;
  padding-left: 15px;
  padding-right: 15px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#header {
  padding-bottom:3em;
  //background:#779ECB;
  background:$primary-color;
  color:$header-color;
  text-transform: uppercase;
  opacity: 0;
  -webkit-animation: fadeIn .25s linear;
  animation: fadeIn .25s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  #brand-main {
    margin:auto;
    width:80%;
    padding-top:0.5em;
    text-align: center;
    font-size: 6.5rem;
    line-height: 4rem;
    letter-spacing: .35em;
    text-shadow: rgba(0, 0, 0, 0.14902) 0px 0px 12px;
    //font-family: 'Unica One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Lato', sans-serif;
  }
  #slug {
    margin:auto;
    width:80%;
    font-size: 2rem;
    line-height: 4rem;
    padding-top:1em;
    text-align: center;
  }
}

#map {
  width:100%;
  height:380px;
}

.section {
  margin-bottom:50px;
}

.section-header {
  background:$second-color;
  color:$text-color;
  padding-bottom:5px;
  margin-bottom:50px;
}

.section-header-light {
  background:#FFF;
  color:$text-color;
  padding-bottom:5px;
  margin-bottom:5px; 
}

.line {
  border-bottom:1px solid $second-color;
}

#getting-started {
  background:#FDFDFD;
  color:#444;
  min-height: 300px;
}

.blurb {
  margin-bottom: 15px;
  display: block;
  font-size: 1.7rem;
}

.link {
  background-color: $third-color;
  padding: 15px;
  font-size: 1.5em;
  width:100%;
  color:$accent-color;
  border: 5px solid rgba(219, 218, 214, 0.3);// dashed $accent-color;
}

code {
  font-family: 'Menlo', 'Source Code Pro', monospace;
  font-size: 1.5rem;
  line-height: 2rem;
  line-height: 1.5rem;
  padding:1.4em;
  padding-left:1em;
  width: 100%;
  margin: 0 .125em;
  background-color: $third-color;
  border: 1px solid #EFF0E9;
  color:#444;
  display: inline-block;
  margin-bottom:20px;
}

pre {
  border:none;
  background:none;
}

.custom-btn {
  background-color:$primary-color;
  text-align: center;
  padding:15px;
  color:#FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.8rem;
  margin-top:-10px;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms eas;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  &:hover {
    cursor: pointer;
    background-color:#748f9c;
  }
}

#examples {
  margin-top:25px;
}

#examples-content {
  background-color: rgba(219, 218, 214, 0.1);
  padding: 15px;
  border-top: 5px solid rgba(219, 218, 214, 0.3);
}

#examples-list {
  background-color: rgba(219, 218, 214, 0.1);
  padding: 15px;
  border: 5px solid rgba(219, 218, 214, 0.3);
  ul {
    padding-left:16px;
    margin-left:0px;
  }
  li {
    list-style: none;
    margin-bottom:4px;
  }
  .active-example {
    font-size: 0.8em;
    margin-left: -16px;
  }
}

#esri-map {
  height:500px;
  position: relative;
}

//animations
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes up {
  0% {
    -webkit-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0); }

  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes up {
  0% {
    -webkit-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0); }

  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }